@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
* {
    /* กำหนดทุกอย่าง */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}
/* paddind 0px 0px คือการกำหนด อันแรกความสูง อันสองความยาว */
/* navbar */
.logo-font{
    font-family: 'Rubik Dirt', cursive;
    font-size: 50px;
    cursor: pointer;
    margin-right: auto;
}
li, a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    /* ข้อความตรงกลาง */
    display: inline-block;
    padding:0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}

/* button color hover */
button{
    margin-left: 20px;
    padding: 09px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s rase 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
    color: #24252a;
}
